.main {
	padding: 1rem 2rem;
	border: solid 3px var(--gray-900);
	border-radius: 5px;
	position: relative;
	overflow: hidden;

	display: flex;
	align-items: center;
	gap: 1rem;
	box-shadow: rgba(var(--dark), 0.28) 0px 0.9px 4px,
		rgba(var(--dark), 0.21) 0px 2.6px 8px,
		rgba(var(--dark), 0.175) 0px 5.7px 12px,
		rgba(var(--dark), 0.14) 0px 15px 15px;
}
.left, .right {
	display: block;
}
@media (prefers-reduced-motion: no-preference) {
	.main {
		animation: pulser calc(var(--delay) * 1ms) linear infinite;
	}
	.path {
		animation: dash calc(var(--delay) * 1ms) linear infinite;
	}
	.top .path {
		animation: dash calc(var(--delay) * 1ms) linear infinite reverse;
	}
}

@keyframes pulser {
	0% {
		border-left-color: var(--gray-050);
		border-right-color: var(--gray-900);
	}
	48% {
		border-right-color: var(--gray-900);
		border-left-color: var(--gray-900);
	}
	50% {
		border-left-color: var(--gray-900);
		border-right-color: var(--gray-050);
	}
	98% {
		border-right-color: var(--gray-900);
		border-left-color: var(--gray-900);
	}
	100% {
		border-left-color: var(--gray-050);
		border-right-color: var(--gray-900);
	}
}


.pulseTrack {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 0.3rem;
	width: 100%;
}
.path {
	stroke-dasharray: 0.2 1;
	stroke-dashoffset: 0.2;
}
.pulseTrack.top {
	bottom: unset;
	top: 0;
}
@keyframes dash {
	0% {
		stroke-dashoffset: 0.2;
	}
	50%, 100% {
		stroke-dashoffset: -1;
	}
}



.main label {
	text-transform: uppercase;
	opacity: 0.6;
	font-size: 0.9rem;
	font-weight: 700;
	display: block;
	line-height: 1;
}
.main strong {
	font-size: 2rem;
	font-weight: 700;
}